{% extends "base.html" %}
{% block title %}Delete entry{% endblock %}
{% block content %}
    <div class="card bg-light text-dark my-5 text-center">
        <h5 class="card-header">Confirm your action!</h5>
        <div class="card-body">
            Are you sure want to delete entry <br> "{{ entry }}"?
            <form method="POST" action="{% url "entry_delete" entry.pk %}" class="text-center">
                {% csrf_token %}
                <hr/>
                <div class="row justify-content-center">
                    <div class="col-sm-2">
                        <input type="submit" value="Delete" class="btn btn-outline-danger btn-block">
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url "index" %}" class="btn btn-outline-success btn-block">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
